# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
.venv/
venv/
ENV/
env/

# PyInstaller
*.manifest
*.spec.bak
workpath/

# Testes
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# TOSKINSTALLER
*.tosk.json
toskinstaller_workspace/
logs/
